<!DOCTYPE html>
<html>
<head>
    <title>Question and Choice Create 4choice</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'Test3/style1.css' %}" />
</head>

<body>
  <h1>Question and Choice Create</h1>
<!--menu bar horizontal-->
  <div id="hmenu">
    <ul>
      <li><a href="{% url 'Test3.views.home_page' %}">Home</a></li>
      <li><a href="{% url 'Test3.views.Create_page' %}">Creat</a></li>
      <li><a href="{% url 'Test3.views.ShowAnswer_page' %}">Answer</a></li>
      <li><a href="{% url 'Test3.views.history_page' %}">History</a></li>
      <li><a href="https://bitbucket.org/nuyuyii/test3django/commits/all">Bitbucket</a><br></li>
    </ul> 
  </div>
<!--end menu bar horizontal-->

<!--menu-->
    <div id="nav">
  <table id="id_choicetable">
      {% for item in items %}
      <tr><td> {{ forloop.counter }}. {{ item.question }} </td></tr>
      <tr><td>
       <form method="POST" action="/ShowChoice/{{ item.id }}/">
       <input type="submit" value="total" id="view_question{{ item.id }}" >
       {% csrf_token %}</form></td></tr>
      {% endfor %}
  </table>
  <br><br><br><br><br>
  </div>
<!--end menu-->

<!--input value-->
    <form name="questions" method="POST">
      <b>Question:</b><input name="ask" id="id_ask" placeholder="Enter your question" size="20"/><br>
      &nbsp;Choice1:<input name="ans1" id="id_ans1" placeholder="Enter your choice1" size="20"/><br>
      &nbsp;Choice2:<input name="ans2" id="id_ans2" placeholder="Enter your choice2" size="20"/><br>
      &nbsp;Choice3:<input name="ans3" id="id_ans3" placeholder="Enter your choice3" size="20"/><br>
      &nbsp;Choice4:<input name="ans4" id="id_ans4" placeholder="Enter your choice4" size="20"/><br>
      <input type="submit" value="create" id="id_create" name = "create_send">
      {% csrf_token %}
    </form>
<!--end input-->
</body>
</html>
