<!DOCTYPE html>
<html>
<head>
    <title>History</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'Test3/style1.css' %}" />
</head>

<body>
  <h1>Question and Choice History</h1>
<!--menu bar horizontal-->
  <div id="hmenu">
    <ul>
      <li><a href="{% url 'Test3.views.home_page' %}">Home</a></li>
      <li><a href="{% url 'Test3.views.Create_page' %}">Creat</a></li>
      <li><a href="{% url 'Test3.views.ShowAnswer_page' %}">Answer</a></li>
      <li><a href="{% url 'Test3.views.history_page' %}">History</a></li>
      <li><a href="https://bitbucket.org/nuyuyii/test3django/commits/all">Bitbucket</a><br></li>
    </ul> 
  </div>
<!--end menu bar horizontal-->

<!--menu-->
    <div id="nav">
  <table id="id_choicetable">
         จำนวนครั้งที่ผู้ใช้เข้ามาตอบคำถามทั้งหมด: {{ counts }} ครั้ง
      {% for item in items %}
      <tr><td> {{ forloop.counter }}. {{ item.question }} </td></tr>
      <tr><td>
       <form method="POST" action="/ShowChoice/{{ item.id }}/">
       <input type="submit" value="total" id="view_question{{ item.id }}" >
       {% csrf_token %}</form></td></tr>
      {% endfor %}
  </table>
  </div>
<!--end menu-->

        <form method="POST" >
          <input type="submit" id="id_sortbyques" name="sortbyques" value="Sort by question">
          <input type="submit" id="id_sortbydate" name="sortbydate" value="Sort by date">
          <br>
          {% csrf_token %}
        </form>

  <table id="id_answers">
     {% for ans in answers %}
     <tr><td><b>Question:</b> {{ ans.ques }}<br><b>Answer:</b> {{ ans.answer }}<br><b>Date:</b>{{ ans.pub_date }}<br></td></tr>
     <tr><td></td></tr>
     {% endfor %}
  </table>

</body>
</html>
