<!DOCTYPE html>
<html>
<head>
    <title>Question and Choice Home</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'Test3/style1.css' %}" />
</head>

<body>
  <h1>Question and Choice Home</h1>
<!--menu bar horizontal-->
  <div id="hmenu">
    <ul>
      <li><a href="{% url 'Test3.views.home_page' %}">Home</a></li>
      <li><a href="{% url 'Test3.views.Create_page' %}">Creat</a></li>
      <li><a href="{% url 'Test3.views.ShowAnswer_page' %}">Answer</a></li>
      <li><a href="{% url 'Test3.views.history_page' %}">History</a></li>
      <li><a href="https://bitbucket.org/nuyuyii/test3django/commits/all">Bitbucket</a><br></li>
    </ul> 
  </div>
<!--end menu bar horizontal-->

<!--menu-->
    <div id="nav">
  <table id="id_choicetable">
      {% for item in items %}
      <tr><td> {{ forloop.counter }}. {{ item.question }} </td></tr>
      <tr><td>
       <form method="POST" action="/ShowChoice/{{ item.id }}/">
       <input type="submit" value="total" id="view_question{{ item.id }}" >
       {% csrf_token %}</form></td></tr>
      {% endfor %}
  </table>
  <br><br><br><br><br>
  </div>
<!--end menu-->

  <table id="id_choicesTable">
    <form name="choices" method="POST" >
      {% for item in items %}
      <tr><td>{{ forloop.counter }}. {{ item.question }}</td></tr>
        <tr><td><input type="radio" value="{{ item.choice1 }}" name="{{ item.question }}" id="{{ item.choice1 }}">{{ item.choice1 }}</td></tr>
        <tr><td><input type="radio" value="{{ item.choice2 }}" name="{{ item.question }}" id="{{ item.choice2 }}">{{ item.choice2 }}</td></tr>
        <tr><td><input type="radio" value="{{ item.choice3 }}" name="{{ item.question }}" id="{{ item.choice3 }}">{{ item.choice3 }}</td></tr>
        <tr><td><input type="radio" value="{{ item.choice4 }}" name="{{ item.question }}" id="{{ item.choice4 }}">{{ item.choice4 }}</td></tr>
        <tr><td>{{ item.pub_date }}</td></tr>
        <tr><td><br></td></tr>
      {% endfor %}
      {% if answers != 0 %}
      <tr><td><input type="submit" value="Answer" id="id_ans" name = "ans_send"></td></tr>
      {% csrf_token %}
      {% else %}
      <tr><td><input type="submit" value="Create" id="id_Create" name = "Create_send"></td></tr>
      {% csrf_token %}
      {% endif %}
    </form>
  </table>

</body>
</html>
