<!DOCTYPE html>
<html>
<head>
    <title>Please select all fields</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'Test3/style1.css' %}" />
</head>

<body>
  <h2><b><p style="color:red; font-size: 30px;">Please select all fields.</p></b></h2>
<!--menu bar horizontal-->
  <div id="hmenu">
    <ul>
      <li><a href="{% url 'Test3.views.home_page' %}">Home</a></li>
      <li><a href="{% url 'Test3.views.Create_page' %}">Creat</a></li>
      <li><a href="{% url 'Test3.views.ShowAnswer_page' %}">Answer</a></li>
      <li><a href="{% url 'Test3.views.history_page' %}">History</a></li>
      <li><a href="https://bitbucket.org/nuyuyii/test3django/commits/all">Bitbucket</a><br></li>
    </ul> 
  </div>
<!--end menu bar horizontal-->

<!--menu-->
    <div id="nav">
  <table id="id_choicetable">
  </table>
  <br><br><br><br><br>
  </div>
<!--end menu-->

</body>
</html>
