<!DOCTYPE html>
<html>
    <head>
        <title>Question and Choice Online</title>
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'Test3/style1.css' %}" />
    </head>
    <body>
      <h1>Question and Choice score</h1>
<!--menu bar horizontal-->
  <div id="hmenu">
    <ul>
      <li><a href="{% url 'Test3.views.home_page' %}">Home</a></li>
      <li><a href="{% url 'Test3.views.Create_page' %}">Creat</a></li>
      <li><a href="{% url 'Test3.views.ShowAnswer_page' %}">Answer</a></li>
      <li><a href="{% url 'Test3.views.history_page' %}">History</a></li>
      <li><a href="https://bitbucket.org/nuyuyii/test3django/commits/all">Bitbucket</a><br></li>
    </ul> 
  </div>
<!--end menu bar horizontal-->

<!--menu-->
    <div id="nav">
  <table id="id_choicetable">
      {% for item in items %}
      <tr><td> {{ forloop.counter }}. {{ item.question }} </td></tr>
      <tr><td>
       <form method="POST" action="/ShowChoice/{{ item.id }}/">
       <input type="submit" value="total" id="view_question{{ item.id }}" >
       {% csrf_token %}</form></td></tr>
      {% endfor %}
  </table>
  </div>
<!--end menu-->

  <table id="id_choicetable">
    <tr><td><b>Question:</b> {{each_Q.question}}</td></tr>
    <tr><td><b>Create Question at:</b> {{each_Q.pub_date}}<br><br></td></tr>
    <form name="choices" method="POST">
           <tr><td>{{ each_Q.choice1 }}: {{num1}} คน</td></tr>
           <tr><td>{{ each_Q.choice2 }}: {{num2}} คน</td></tr>
           <tr><td>{{ each_Q.choice3 }}: {{num3}} คน</td></tr>
           <tr><td>{{ each_Q.choice4 }}: {{num4}} คน</td></tr>
      {% csrf_token %}
    </form>
  </table>
    </body>
</html>
