<!DOCTYPE html>
<html>
    <head>
        <title>Question and Answer Online</title>
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'Test3/style1.css' %}" />
    </head>
    <body>
      <h1>YOUR ANSWER</h1>
<!--menu bar horizontal-->
  <div id="hmenu">
    <ul>
      <li><a href="{% url 'Test3.views.home_page' %}">Home</a></li>
      <li><a href="{% url 'Test3.views.Create_page' %}">Creat</a></li>
      <li><a href="{% url 'Test3.views.ShowAnswer_page' %}">Answer</a></li>
      <li><a href="{% url 'Test3.views.history_page' %}">History</a></li>
      <li><a href="https://bitbucket.org/nuyuyii/test3django/commits/all">Bitbucket</a><br></li>
    </ul> 
  </div>
<!--end menu bar horizontal-->

<!--menu-->
    <div id="nav">
  <table id="id_choicetable">
      {% for item in items %}
      <tr><td> {{ forloop.counter }}. {{ item.question }} </td></tr>
      <tr><td>
       <form method="POST" action="/ShowChoice/{{ item.id }}/">
       <input type="submit" value="total" id="view_question{{ item.id }}" >
       {% csrf_token %}</form></td></tr>
      {% endfor %}
  </table>
  </div>
<!--end menu-->

  <table id="id_answers">your answer :{{pub_date}}
    {% for ans in answers %} 
     <tr><td>Question: {{ ans.question }}</td></tr>
     <tr><td>Answer: {{ ans.answer }}</td></tr>
     <tr><td><br></td></tr>
    {% endfor %}
  </table>
    </body>
</html>
