        .offscreen {
            position: absolute;
            top: -30em;
            left: -300em;
        }

        div#hmenu {
            margin: 0;
            padding: .3em 0 .3em 0;
            background: #ddeebb;
            width: 100%;
            text-align: left;
        }

        div#hmenu ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        div#hmenu ul li {
            margin: 0;
            padding: 0;
            display: inline;
        }

        div#hmenu ul a:link{
            margin: 0;
            padding: .3em .4em .3em .4em;
            text-decoration: none;
            font-weight: bold;
            font-size: medium;
            color: #004415;
        }
        div#hmenu ul a:visited{
            margin: 0;
            padding: .3em .4em .3em .4em;
            text-decoration: none;
            font-weight: bold;
            font-size: medium;
            color: #227755;
        }

        div#hmenu ul a:active{
            margin: 0;
            padding: .3em .4em .3em .4em;
            text-decoration: none;
            font-weight: bold;
            font-size: medium;
            color: #227755;
        }

        div#hmenu ul a:hover{
            margin: 0;
            padding: .3em .4em .3em .4em;
            text-decoration: none;
            font-weight: bold;
            font-size: medium;
            color: #f6f0cc;
            background-color: #227755;
        }
        #nav {
            line-height:30px;
            background-color:#CEF6E3;
            color:black;
            width:25%;
            float:left;
            padding:4%;
        }
        h1 {
            text-align: left;
        }
